body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

#formSelector {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.form-container {
    display: none;
}

.form-container h2 {
    margin-top: 0;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.form-container input[type="email"],
.form-container input[type="password"] {
    width: 25%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 13%; 
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 820px) {
    .form-container input[type="email"],
    .form-container input[type="password"],
    .form-container input[type="submit"] {
        width: 70%; 
    }
}
